
body{
    margin:0;
    --tint-r:#ffe6e6;
    --light-r:#ff7373;
    --dark-r:#ff4d4d;
    --orange:#ff361c;
    --grey-1:#424242;
    --shadow-d:rgba(0,0,0,0.3);
    --grey-0:#d6d6d6;
    --grey-2:#242424;
    --violet:#1d3859;
    background-color: var(--shadow);
    font-family:Quicksand,sans-serif;;
}
header{
    background-color: white;
    position: absolute;
    top:0;
    left:0;
    width:100vw;
    height: 70px;
    display:flex;
    color:var(--grey-2);
    justify-content: space-between;
    align-items: space-around;
    overflow: hidden;
}
header .my-logo{
    display: grid;
    margin-left: 6vw;;
    align-items: center;
    width:12vw;
    grid-template-columns:30% 70%;
    font-family:"Pridi";
}


header .my-logo .img-dp {
    background: url("DP.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:6vh;
    width: 6vh;;
    background-position: center;
    
    clip-path: circle(50% at 50% 50%);
}
header .my-logo .name{
    font-size: 18px;
    overflow: hidden;
    width: 120%;
    font-weight: 600;
    padding:0px 20px;;
   
}
header .nav-right{
    margin-right: 6vw;

    align-items: center;
}
header .nav-right nav{

    display:flex;
    justify-content:center;
    align-items: center;
    height: 100%;;
}

ul{
    list-style-type: none;
}
li{
    padding: 15px 20px;
    font-size: 13px;
    float:left;
    color:var(--black);
    font-weight: 600;
}
li:hover{
    color:var(--dark-r);
    cursor: pointer;
}
ul #free-c{
    position: relative;
}

/* ul li::after{
    content:'';
    position: absolute;;
    left:0;
    bottom:0;
    background-color: var(--shadow);
    height:2px;
    width: 100%;
    z-index:1005;
}
ul li:hover li::after{
    width: 100%;
    transition: 0.3s ease-in-out;
} */
section{
    position: absolute;
    top:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border-radius: 6px;;
    padding:12px 30px;
    cursor: pointer;
}
.inverted{
    background-color: var(--light-r);
    color: white;
    
}
.outline{
    border:solid 1px var(--grey-1);
    color:black;
    font-size: 0.8em;
}

.hero-section{
    background-image: url("cover.jpg");
    background-position: center;
    background-size: cover;
    height: 90vh;
    overflow: hidden;
    margin-top:-30px;
}
section{
    position: relative;
    width: 100vw;
    display: flex;
    background-color: pink;
    justify-content: center;

}


.hero-cont{
    position: absolute;
    left:10vw;
    top:20vh;
    height:40vh;
    width:50vw;
    display: flex;;
    flex-direction: column;
    justify-content: space-around;
}
.desc{
    font-size: 1em;
    letter-spacing: 0.08em;
    line-height: 1.3em;;
    font-weight: 600;
}
.button-tray{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}
.about{
    display:flex;
    height: 70vh;;
    justify-content: center;
    align-items:center;
    background-color: white;
}
.about .container{
    display: grid;
    height:70%;
    width: 60%;;

    grid-template-columns: 50% 50%;
}

.about .container .left{
    height: 100%;
    width:100%;
    display:flex;
    flex-direction: column;
    justify-content:space-around;
}
.about .container .right{
    height: 100%;
    width: 100%;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--tint-r);
    width: 100%;
}
.about .container .tap-n-send{
    display:grid;
    height: 50%;;
    margin: 5% 0%;
    grid-template-rows: 20% 80%;
}
.about .container .tap-n-send input, 
    .about .container .tap-n-send textarea{
        margin-left:2%;
        margin-top: 2%;;
    width: 90%;;
    border-radius: 6px;;
    color: var(--grey-1);
    font-family: inherit;
    font-size: 0.9em;;
    border: solid 0px var(--grey-0);
    padding:2%;
}
.services{
    position: relative;
    height:130vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;

}
.services .container{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 70%;;
    justify-content: space-around;
}
.services .container .row{
    height: 35%;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.services .container .row .card{
    height: 100%;
    width: 20%;
    border-radius: 6px;;
    border: solid 2px var(--grey-0);
    display: grid;
    justify-content: center;
    overflow: hidden;
    align-items: stretch;
    grid-template-rows:40% 20% 40%;
}

.services .container .row .card:hover{
    border-color: transparent;
    transition: 0.5s ease;
    cursor: pointer;
}
.services .container .row .card .icon-hero{
    background-image: url('cover.jpg');
    background-size: cover;
    background-position: center;
    clip-path: circle(20% at 50% 50%);
}

.services .container .row .card .heading{
    font-family: Pridi;
    color:var(--violet);
    font-size: 25px;;
    width: 100%;;
    text-align: center;
}
.services .container .row .card:hover .heading{
    transition: 0.5s ease;
    color:white;
}
.services .container .row .card .description{
    font-size: 12px;;
    text-align: center;
    padding:5px;
}